<!DOCTYPE html>
<html>
<head>
	<title>Layout</title>
	<meta charset="utf-8">
	<!-- load file css theo cu phap sau -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!-- tao khung bao quanh website -->
<div class="wrapper">
	<!-- banner -->
	<div class="banner"><img src="images/banner.jpg"></div>
	<!-- end banner -->
	<!-- menu -->
	<div class="menu">
		<div class="menu-left">Thứ 2, ngày 20 tháng 6 năm 2016</div>
		<div class="menu-right">
			<ul>
				<li><a href="#">Trang chủ</a></li>
				<li><a href="#">Giới thiệu</a></li>
				<li><a href="#">Tin tức</a></li>
				<li><a href="#">Sản phẩm</a></li>
				<li><a href="#">Liên hệ</a></li>
			</ul>
		</div>
		<div style="clear:both;"></div>
	</div>
	<!-- end menu -->
	<!-- khoi trai -->
	<div class="left">
		<!-- category -->
		<div class="category">
			<ul>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
				<li><a href="#">Sửa Vinamilk</a></li>
			</ul>
		</div>
		<!-- end category -->
		<!-- search -->
		<div class="search">
			<img src="images/search.jpg">
			<input class="txt" type="text"> <input type="button" value="Go">
		</div>
		<!-- endsearch -->
		<!-- product -->
		<div class="product">
			<div class="product-title">SẢN PHẨM TIÊU BIỂU</div>
			<div class="content">
				<ul>
					<li><a href="#"><img src="images/product_img.jpg"></a></li>
					<li><a href="#"><img src="images/product_img.jpg"></a></li>
					<li><a href="#"><img src="images/product_img.jpg"></a></li>
					<li><a href="#"><img src="images/product_img.jpg"></a></li>
				</ul>
			</div>
		</div>
		<!-- end product -->
		<!-- static -->
		<div class="static">
			<ul>
				<li>Online: <span>123.456</span></li>
				<li>Lượt truy cập: <span>8 8.888</span></li>
			</ul>
		</div>
		<!-- end static -->
	</div>
	<!-- end khoi trai -->
	<!-- khoi phai -->
	<div class="main">
		<!-- slide -->
		<div class="slide">
			<img src="images/slide.jpg">
			<div class="text"><span>Hello world<span></div>
		</div>
		<!-- end slide -->
		<!-- box main-product -->
		<div class="main-box">
			<div class="title">SẢN PHẨM MỚI</div>
			<div class="main-product">
				<ul>
					<!-- list product -->
					<li>
						<div class="main-product-img"><img src="images/product_main.jpg"></div>
						<div class="main-product-title">Sữa Alaska</div>
						<div class="main-product-desc">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh ...</div>
						<div class="main-product-link">
							<a href="#">Chi tiết</a>&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="#">Mua hàng</a>
						</div>
					</li>
					<!-- end list product -->
					<!-- list product -->
					<li>
						<div class="main-product-img"><img src="images/product_main.jpg"></div>
						<div class="main-product-title">Sữa Alaska</div>
						<div class="main-product-desc">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh ...</div>
						<div class="main-product-link">
							<a href="#">Chi tiết</a>&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="#">Mua hàng</a>
						</div>
					</li>
					<!-- end list product -->
					<!-- list product -->
					<li>
						<div class="main-product-img"><img src="images/product_main.jpg"></div>
						<div class="main-product-title">Sữa Alaska</div>
						<div class="main-product-desc">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh ...</div>
						<div class="main-product-link">
							<a href="#">Chi tiết</a>&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="#">Mua hàng</a>
						</div>
					</li>
					<!-- end list product -->
					<!-- list product -->
					<li>
						<div class="main-product-img"><img src="images/product_main.jpg"></div>
						<div class="main-product-title">Sữa Alaska</div>
						<div class="main-product-desc">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh ...</div>
						<div class="main-product-link">
							<a href="#">Chi tiết</a>&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="#">Mua hàng</a>
						</div>
					</li>
					<!-- end list product -->
				</ul>
			</div>
		</div>
		<!-- end main-product -->
		<div style="clear: both;"></div>
		<!-- box main-product -->
		<div class="main-box">
			<div class="title">TIN TỨC - SỰ KIỆN</div>
			<div class="main-news">
				<ul>
					<li>
						<div class="news-title"><a href="#">Giá nguyên liệu sữa nhập khẩu tiếp tục tăng cao</a></div>
						<div class="news-content">
							<img src="images/news.jpg">Theo các Cty sữa cho biết, giá nguyên liệu sữa nhập khẩu trong tháng 11 tiếp tục tăng thêm 200USD/tấn. Với mức giá hiện nay, giá sữa béo có nguồn gốc New Zealand nhập về VN hiện là 5.700USD/tấn, tăng gấp 2 lần so với thời điểm này năm ngoái.
						</div>
						<div class="news-link"><a href="#">Chi tiết</a></div>						
						<div style="clear: both; padding-top: 10px;"></div>
						<div class="line"></div>
					</li>
					<li>
						<div class="news-title"><a href="#">Giá nguyên liệu sữa nhập khẩu tiếp tục tăng cao</a></div>
						<div class="news-content">
							<img src="images/news.jpg">Theo các Cty sữa cho biết, giá nguyên liệu sữa nhập khẩu trong tháng 11 tiếp tục tăng thêm 200USD/tấn. Với mức giá hiện nay, giá sữa béo có nguồn gốc New Zealand nhập về VN hiện là 5.700USD/tấn, tăng gấp 2 lần so với thời điểm này năm ngoái.
						</div>
						<div class="news-link"><a href="#">Chi tiết</a></div>						
						<div style="clear: both; padding-top: 10px;"></div>						
					</li>
				</ul>
			</div>
		</div>
		<!-- end main-product -->
	</div>	
	<!-- end khoi phai -->
	<!-- khoi phai -->
	<div class="right">
		<!-- hoi dap -->
		<div class="question">
			<div class="question-title">HỎI ĐÁP</div>
			<div class="question-content">
				<ul>
					<li><a href="#">Tại sao phải phân loại sữa cho các lứa tuổi khác nhau?</a></li>
					<li><a href="#">Tại sao phải phân loại sữa cho các lứa tuổi khác nhau?</a></li>
					<li><a href="#">Tại sao phải phân loại sữa cho các lứa tuổi khác nhau?</a></li>
					<li><a href="#">Tại sao phải phân loại sữa cho các lứa tuổi khác nhau?</a></li>
				</ul>
				<div class="send-question">[ Gửi câu hỏi tới chúng tôi ]</div>
			</div>
		</div>
		<!-- end hoi dap -->
		<!-- support online -->
		<div class="support">
			<div class="support-conent">
				<ul>
					<li><img src="images/yahoo.jpg"></li>
					<li>Hỗ trợ bán hàng</li>
					<li><img src="images/yahoo.jpg"></li>
					<li>Hỗ trợ bán hàng</li>
					<li><img src="images/yahoo.jpg"></li>
					<li>Hỗ trợ bán hàng</li>
				</ul>
			</div>
			<div class="support-contact">
				<ul>
					<li>Mobile: (84-4) 0913 234 678</li>
					<li>Emai: lanphuong.co@fpt.vn</li>
				</ul>
			</div>i
		</div>
		<!-- end support online -->
		<!-- check mail -->
		<div class="checkmail">
			<ul>
				<li>Email</li>
				<li><input type="text" class="email"></li>
				<li>Password</li>
				<li><input type="text" class="email"></li>
				<li><input type="submit" value="Login"></li>
			</ul>
		</div>
		<!-- end check mail -->
		<!-- adv -->
		<div class="adv">
			<div class="adv-title"><img src="images/adv.jpg"></div>
			<div class="adv-content">
				<ul>
					<li><img src="images/adv_img.jpg"></li>
				</ul>
			</div>
		</div>
		<!-- end adv -->
	</div>
	<!-- end khoi phai -->
	<div style="clear: both;"></div>
	<!-- menu footer -->
	<div class="menu-footer">
		<ul>
			<li><a href="#">Trang chủ</a></li>
			<li><a href="#">Giới thiệu</a></li>
			<li><a href="#">Tin tức</a></li>
			<li><a href="#">Sản phẩm</a></li>
			<li><a href="#">Liên hệ</a></li>
		</ul>
	</div>
	<!-- end menu footer -->
	<!-- footer -->
	<div class="footer">
		<b>© 2016 Bản quyền thuộc về PHUONGNHUNG GROUP</b> <br>
Phòng 303 Tòa nhà 76 Nguyễn Chí Thanh, Đống Đa, Hà nội, Việt Nam <br>
Tel: (84-4)7 755 788  - Fax:  (84-4)7 755 828 - Mobile:  (+84)0913 234 678  - Email:  lanphuong.co@fpt.vn		
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->
</body>
</html>